In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth


dataset = [['A-UP','B-DOWN','C-UP','E-DOWN'],
           [],
           ['A-DOWN','B-DOWN'],
           [],
           ['A-UP','C-UP'],[],['A-UP'],['A-DOWN','C-DOWN'],['A-DOWN','B-DOWN','C-DOWN'],['A-DOWN']]

In [4]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth


dataset = [['p','q'],['p','r'],['p','s'],['p','t'],['q','r'],['q','t'],['r','s'],['s','t'] ]

In [5]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

NameError: name 'TransactionEncoder' is not defined

In [90]:
# fpgrowth(df, min_support=0.2)
apriori(df, min_support=0.2)

   support itemsets
0    0.500      (0)
1    0.375      (1)
2    0.375      (2)
3    0.375      (3)
4    0.375      (4)

In [91]:
# fpgrowth(df, min_support=0.2, use_colnames=True)
apriori(df, min_support=0.2, use_colnames=True)

   support itemsets
0    0.500      (p)
1    0.375      (q)
2    0.375      (r)
3    0.375      (s)
4    0.375      (t)

In [92]:
# frequent_itemsets = fpgrowth(df, min_support=0.2, use_colnames=True)
# frequent_itemsets
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

   support itemsets
0    0.500      (p)
1    0.375      (q)
2    0.375      (r)
3    0.375      (s)
4    0.375      (t)

In [93]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [15]:
def Load_data():
    baskets_data = [['A-UP','B-DOWN','C-UP','E-DOWN'],
           [],
           ['A-DOWN','B-DOWN'],
           [],
           ['A-UP','C-UP'],[],['A-UP'],['A-DOWN','C-DOWN'],['A-DOWN','B-DOWN','C-DOWN'],['A-DOWN']]
    return baskets_data

In [94]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth


def Load_data():
    baskets_data = [['p','q'],
           ['p','r'],
           ['p','s'],
           ['p','t'],
           ['q','r'],['q','t'],['r','s'],['s','t']]
    return baskets_data

In [95]:
def createC1(data):
    """
    Create a list of unique items in transaction data.
    Represent each item as a set of length 1.
    """
    C1 = []
    for transaction in data:
        for item in transaction:
            if not [item] in C1:
                C1.append([item])
    C1.sort()
    
    # create a set for each item in C1
    return [set(x) for x in C1]

In [96]:
def createCk(Lk, k):
    """
    Create a list of candidates of length k.
    
    Arguments:
       Lk: a list of frequent itemsets
       k: the size of the itemsets
    
    """
    cand_list = []
    len_Lk = len(Lk)
    
    # join sets if first k-2 items are equal
    for i in range(len_Lk):
        for j in range(i+1, len_Lk):
            L1 = list(Lk[i])[:k-2]
            L2 = list(Lk[j])[:k-2]
            L1.sort()
            L2.sort()
            if L1==L2:
                cand_list.append(Lk[i] | Lk[j])
    
    return cand_list

In [83]:
def scanD(data, Ck, min_support):
    """
    Scan through transaction data and return a list of candidates that meet
    the support threshold, and support data about the current candidates.
    
    Arguments:
       data: data set,
       Ck: a list of candidate sets
       min_support: the minimum support
    """
    count = {}
    for transaction in data:
        tr = set(transaction)
        for candidate in Ck:
            if candidate.issubset(tr):
                can = frozenset(candidate)
                if can not in count:
                    count[can] = 1
                else:
                    count[can] += 1
                    num_items = float(len(D))
    
    cand_list = []
    support_data = {}
    
    # calculate support for every itemset
    for key in count:
        support = count[key]/num_items
        
        # If the support meets the minimum support requirements, 
        # add it to the list of itemsets.
        if support >= min_support:
            cand_list.insert(0, key)
        support_data[key] = support
    
    return cand_list, support_data

In [97]:
min_support = 0.2

In [67]:
data = Load_data()
data

[['p', 'q'],
 ['p', 'r'],
 ['p', 's'],
 ['p', 't'],
 ['q', 'r'],
 ['q', 't'],
 ['r', 's'],
 ['s', 't']]

In [68]:
C1 = createC1(data)
C1

[{'p'}, {'q'}, {'r'}, {'s'}, {'t'}]

In [69]:
D = list(map(set, data))
D

float(len(D))

8.0

In [70]:
L1, support_data1 = scanD(D, C1, min_support)

In [71]:
L1

[frozenset({'t'}),
 frozenset({'s'}),
 frozenset({'r'}),
 frozenset({'q'}),
 frozenset({'p'})]

In [72]:
support_data1

{frozenset({'p'}): 0.5,
 frozenset({'q'}): 0.375,
 frozenset({'r'}): 0.375,
 frozenset({'s'}): 0.375,
 frozenset({'t'}): 0.375}

In [73]:
C2 = createCk(L1, k=2)
C2

[frozenset({'s', 't'}),
 frozenset({'r', 't'}),
 frozenset({'q', 't'}),
 frozenset({'p', 't'}),
 frozenset({'r', 's'}),
 frozenset({'q', 's'}),
 frozenset({'p', 's'}),
 frozenset({'q', 'r'}),
 frozenset({'p', 'r'}),
 frozenset({'p', 'q'})]

In [87]:
L2, support_data2 = scanD(D, C2, min_support)
L2

[]

In [56]:
support_data2

{frozenset({'B-DOWN', 'C-UP'}): 0.1,
 frozenset({'A-UP', 'C-UP'}): 0.2,
 frozenset({'A-UP', 'B-DOWN'}): 0.1,
 frozenset({'A-DOWN', 'B-DOWN'}): 0.2,
 frozenset({'A-DOWN', 'C-DOWN'}): 0.2,
 frozenset({'B-DOWN', 'C-DOWN'}): 0.1}

In [ ]:
C3 = createCk(L2, k=3)
C3

In [ ]:
L3, support_data3 = scanD(D, C3, min_support)

In [ ]:
support_data3